{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
  <title>Your Portfolio</title>
</head>


<body>
  <div class="main-container">
    {% include 'base/navbar.html' %}


		{% block content %}

			
			<!-- this is where the content goes -->

		{% endblock %}

    <!-- Include the footer component -->
    {% include 'base/footer.html' %}
  </div>
</body>



</html>