{% extends 'base/main.html' %}

{% load static %}
{% block content %}




<div class="content">
      <div class="info" background-color="white">
        <p>Your rugby summary paragraph goes here.</p>
      </div>
      <div class="video-container">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/watch?v=_lJEAACCjWI&t=2s" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="photos-container">
        <div class="photo-with-info">
          <div class="photo-rugby">
            <img src="{% static 'images/olly14.jpeg' %}" alt="Photo 1">
          </div>
          <div class="info">
            <h3>Cornish Pirates 2022-2023</h3>
            <p>In June 2022 I signed my first professional contract with the Cornish Pirates, reuniting with my old EURFC forwards coach Louie Tonkin. I played two preseason games before an old injury flared up badly and I was forced into rehab for the remainder of the season. After speaking with the knee specialist, he recomended stepping down from professional rugby to stop any further damage to my already worn knee.  </p>
          </div>
        </div>
        <div class="photo-with-info alternate">
          <div class="info">
            <h3>BUCS National Champions 2021-2022</h3>
            <p>In a bitter blow, I suffered a grade 3 MCL injury in the semi-finals of the BUCS Championship, ruling me out of the final two weeks later. However the team (led by Will Yarnell) delivered an incredible performance to allow us to lift the trophy together at the end of an awesome game that ended 14-13.</p>
          </div>
          <div class="photo-rugby">
            <img src="{% static 'images/olly11.jpg' %}" alt="Photo 2">
          </div>
        </div>
        <!-- Add more photo-with-info blocks as needed -->
        <div class="photo-with-info">
          <div class="photo-rugby">
            <img src="{% static 'images/olly16.jpg' %}" alt="Photo 1">
          </div>
          <div class="info">
            <h3>Varsity 2022</h3>
            <p>Leading the team to beat Loughborough 26-21 at Sandy Park in front of 6,000 students was incredible. </p>
          </div>
        </div>
        <div class="photo-with-info alternate">
          <div class="info">
            <h3>Awarded EURFC Captaincy for the 2021-22 Season</h3>
            <p>After a year of no rugby I was delighted when I was announced as captain for the upcoming BUCS Super Rugby season.</p>
          </div>
          <div class="photo-rugby">
            <img src="{% static 'images/olly13.jpeg' %}" alt="Photo 2">
          </div>
        </div>

        <!-- Add more photo-with-info blocks as needed -->

        <div class="photo-with-info">
          <div class="photo-rugby">
            <img src="{% static 'images/olly17.jpg' %}" alt="Photo 1">
          </div>
          <div class="info">
            <h3>Back to 7s, Summer 2021</h3>
            <p>After 646 since my last competitive rugby due to injury and COVID, I begun my return by playing 7s for the Ramblin' Jesters and the Gogerddan Raiders, coming 2nd and 1st respectively in two tournaments. Shown here is Oscar Lennon with whom I played age grade rugby for RGC with, and is now playing professionally for the Bristol Bears.</p>
          </div>
        </div>
        <div class="photo-with-info alternate">
          <div class="info">
            <h3>Premiership 7s, Sepember 2019</h3>
            <p>Despite injuring my knee the week before in a preseason game (EURFC vs Launceston) I decided to play through it as I'd been selected for Exeter Chiefs Premiership 7s side. We won all of our pool games before being knocked out by the eventual winners Saracens. </p>
          </div>
          <div class="photo-rugby">
            <img src="{% static 'images/olly18.jpg' %}" alt="Photo 2">
          </div>
        </div>

        <!-- Add more photo-with-info blocks as needed -->

        <div class="photo-with-info">
          <div class="photo-rugby">
            <img src="{% static 'images/olly25.jpg' %}" alt="Photo 1">
          </div>
          <div class="info">
            <h3>Wales vs England U19s, April 2019</h3>
            <p>My 2018-19 season was topped off by being selected to play vs England U19s at Brewery Fields (albeit in the second row). This game followed a series of warm up matches vs Scotland and Japan(x2) where I played 8, 7 and 19 respectively.</p>
          </div>
        </div>
        <div class="photo-with-info alternate">
          <div class="info">
            <h3>Winning the league in 2018-19</h3>
            <p>After playing for the Saturday League side in National 3 I was selected for the 1st XV. We won the league with some memorable victories against Hartpury, Loughborough and Northumbria. </p>
          </div>
          <div class="photo-rugby">
            <img src="{% static 'images/olly19.JPG' %}" alt="Photo 2">
          </div>
        </div>

        <!-- Add more photo-with-info blocks as needed -->

        <div class="photo-with-info">
          <div class="photo-rugby">
            <img src="{% static 'images/olly20.JPG' %}" alt="Photo 1">
          </div>
          <div class="info">
            <h3>South Africa Tour, August 2018</h3>
            <p>Possibly the highlight of my rugby career was beating Enland U18s in Cape Town. The tour consisted of 3 games vs South Africa, England and France where I played 19, 6 and 7 respectively. </p>
          </div>
        </div>
        <div class="photo-with-info alternate">
          <div class="info">
            <h3>U18 6 Nations</h3>
            <p>Following a successful season playing for Llandovery College and RGC I was called up to the U18 training camps from which I was selected for the U18 6nations tournament. We played three games vs France, Ireland and Italy where I played 20, 6 and 7 respectively. </p>
          </div>
          <div class="photo-rugby">
            <img src="{% static 'images/olly21.JPG' %}" alt="Photo 2">
          </div>
        </div>


        <!-- Add more photo-with-info blocks as needed -->

        <div class="photo-with-info">
          <div class="photo-rugby">
            <img src="{% static 'images/olly22.JPG' %}" alt="Photo 1">
          </div>
          <div class="info">
            <h3>Llandovery College 2017-2018 season</h3>
            <p>I was named vice-captain for the 2017-18 season but after an early season ending injury to the captain I was given the chance to lead the team in a tough season. One of the highlights of the season was beating Milfield at home.</p>
          </div>
        </div>
        <div class="photo-with-info alternate">
          <div class="info">
            <h3>Bishops Exchange 2017</h3>
            <p>I decided to go on the exchange progame to Bishops School in Cape Town where I played for the 2nd XV. </p>
          </div>
          <div class="photo-rugby">
            <img src="{% static 'images/olly23.JPG' %}" alt="Photo 2">
          </div>
        </div>

      </div>
    </div>

{% endblock %}